---
interface Props {
    title: string;
    slug: string;
    cover: string;
    coverAttribution?: {
        name: string;
        url: string;
    };
    subtitle?: string;
    date?: Date;
}

import "@css/article.css";

import Layout from "@layouts/layout.astro";
import { Picture } from "astro:assets";

const { title = "Article", slug, cover, date, subtitle, coverAttribution } = Astro.props;

let coverSource = null;

try {
    const coverType = cover.split(".").at(-1) as "png" | "jpg" | "jpeg" | "webp" | "avif";
    const coverName: string = cover.split(".").at(0)!;

    switch (coverType) {
        case "png":
            coverSource = await import(`../assets/article-cover/${coverName}.png`);
            break;
        case "jpg":
            coverSource = await import(`../assets/article-cover/${coverName}.jpg`);
            break;
        case "jpeg":
            coverSource = await import(`../assets/article-cover/${coverName}.jpeg`);
            break;
        case "webp":
            coverSource = await import(`../assets/article-cover/${coverName}.webp`);
            break;
        case "avif":
            coverSource = await import(`../assets/article-cover/${coverName}.avif`);
            break;
    }
} catch (error) {
    console.log(`Fuck! Unreachable code on the Article Layout. No cover named ${cover}.`);
}
---

<Layout>
    <Fragment slot="head">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
            integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
            crossorigin="anonymous"
        />

        <title>{title}</title>
    </Fragment>

    <main>
        <header transition:name={`article-title-container-${slug}`}>
            <div class="links" transition:animate="fade">
                <button onclick="history.back()" class="back adaptive-back"> &larr; Back </button>
                <a href="/" class="back adaptive-back"> Can Durmus </a>
            </div>

            <div class="content" transition:name={`article-title-content-${slug}`}>
                <h3>{title}</h3>
                {
                    date && (
                        <p>
                            {date.getDate()} {date.toLocaleString("default", { month: "long" })} {date.getFullYear()}
                        </p>
                    )
                }

                {
                    coverAttribution && (
                        <p>
                            Cover image by{" "}
                            <a href={coverAttribution.url} target="_blank">
                                {coverAttribution.name}
                            </a>
                        </p>
                    )
                }
            </div>

            <Picture src={coverSource.default} alt="img" class="cover" transition:name={`article-cover-${slug}`} />
        </header>
        <article>
            {subtitle && <h2 class="subtitle">{subtitle}</h2>}
            <!-- articleContent -->
            <slot />
        </article>
    </main>
</Layout>

<style lang="scss">
    main {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

        header {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 35vw;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .links {
                z-index: 2;
                position: absolute;
                top: 2rem;
                left: 2rem;
                right: 2rem;
                display: flex;
                gap: 1rem;

                .back {
                    background: var(--background-color);
                    color: rgb(var(--accent-color));
                    border: none;
                    padding: 0;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .content {
                z-index: 2;
                display: flex;
                flex-direction: column;
                background: white;
                margin-right: 4rem;
                margin-bottom: 2em;
                padding-left: 1em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                background: var(--background-color);

                h3 {
                    margin-bottom: 0.25em;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: calc(min(3em, 15vw));
                    line-height: 1.2;
                    font-weight: 400;
                    letter-spacing: -0.05ch;
                    color: rgb(var(--accent-color));
                }

                p {
                    font-size: 0.7rem;
                    margin-bottom: 0.25em;
                }
            }

            picture {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;

                .cover {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .subtitle {
        font-family: "Computer Modern Typewriter", monospace;
        font-style: italic;
        color: rgb(var(--accent-color));
        font-size: 1rem;
        border-bottom: 1px solid rgba(var(--accent-color), 0.2);
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
    }
</style>
