---
interface Props {
    title: string;
    slug: string;
    cover: string;
    coverAttribution?: {
        name: string;
        url: string;
    };
    subtitle?: string;
    date?: Date;
}

import "@css/article.css";
import Layout from "@layouts/layout.astro";
import { Picture } from "astro:assets";

const { title = "Article", cover, date, subtitle, coverAttribution } = Astro.props;

const image = await (async () => {
    const coverImages = import.meta.glob<{ default: ImageMetadata }>("../articles/cover/*.{jpg,jpeg,png,webp,avif}");
    const coverEntry = Object.entries(coverImages).find(([path]) => path.endsWith(`/${cover}`));

    if (!coverEntry) throw new Error(`Article Layout Error: No cover image named "${cover}" found.`);

    return (await coverEntry[1]()).default;
})();
---

<Layout>
    <Fragment slot="head">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
            integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
            crossorigin="anonymous"
        />
        <title>{title}</title>
    </Fragment>

    <main>
        <header>
            <div class="links">
                <button onclick="history.back()" class="back adaptive-back"> &larr; Back </button>
                <a href="/" class="back adaptive-back"> Can Durmus </a>
            </div>

            <Picture src={image!} alt={title} class="cover" loading="eager" />

            <div class="content">
                <h1>{title}</h1>
                {
                    date && (
                        <p>
                            {date.getDate()} {date.toLocaleString("default", { month: "long" })} {date.getFullYear()}
                        </p>
                    )
                }

                {
                    coverAttribution && (
                        <p>
                            Cover image by{" "}
                            <a href={coverAttribution.url} target="_blank">
                                {coverAttribution.name}
                            </a>
                        </p>
                    )
                }
            </div>
        </header>
        <article>
            {subtitle && <div class="subtitle">{subtitle}</div>}
            <!-- articleContent -->
            <slot />
        </article>
    </main>
</Layout>

<style lang="scss">
    main {
        display: flex;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }

        header {
            position: sticky;
            top: 0;
            overflow: hidden;
            height: 100dvh;
            width: max(25rem, 35vw);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-right: 1px solid rgb(var(--accent-color));

            @media screen and (max-width: 1024px) {
                width: 100%;
                height: 32rem;
                position: relative;
                border-right: unset;
                border-bottom: 1px solid rgb(var(--accent-color));
            }

            @media screen and (max-width: 640px) {
                height: 100svh;
            }

            .links {
                z-index: 2;
                position: absolute;
                top: 2rem;
                left: 2rem;
                right: 2rem;
                display: flex;
                gap: 1rem;

                .back {
                    background: var(--background-color);
                    color: rgb(var(--accent-color));
                    border: none;
                    padding: 0;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .content {
                z-index: 2;
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(var(--accent-color));
                border-left: 0;

                margin-right: 4rem;
                margin-bottom: 2em;
                padding-inline: 1em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                background: var(--background-color);

                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;

                @media screen and (max-width: 1024px) {
                    padding-inline: 2em;
                }

                @media screen and (max-width: 640px) {
                    padding-inline: 1em;
                }

                h1 {
                    margin-bottom: 0.25em;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: calc(min(3em, 15vw));
                    line-height: 1.2;
                    font-weight: 400;
                    letter-spacing: -0.05ch;
                    color: rgb(var(--accent-color));
                }

                p {
                    font-size: 0.7rem;
                    margin-bottom: 0.25em;
                }
            }

            picture {
                /* position: absolute; */
                /* inset: 0; */
                width: 100%;
                height: 100%;
                flex-grow: 1;
                background-color: rgba(0, 0, 0, 0.1);

                .cover {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .subtitle {
        font-family: "Computer Modern Typewriter", monospace;
        font-style: italic;
        color: rgb(var(--accent-color));
        font-size: 1rem;
        border-bottom: 1px solid rgba(var(--accent-color), 0.2);
        padding-bottom: 0.5rem;
        margin-bottom: 2.5em;
    }
</style>
